{% extends "base.html" %}

{% block title %}DUB Portal{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $("#table-terms").DataTable();
        })
    </script>
{% endblock %}

{% block content %}
    <h1 align="center">DUB Portal</h1>
    <div class="card" style="margin-bottom: 20px;">
        <div class="card-body">
            <img style="max-height: 240px" class="float-right" src="overlap.svg"
                 alt="Venn diagram showing overlaps between DUB Portal and FamPlex entries for DUBs"/>
            <p>
                Deubiquitinating enzymes (DUBs) are proteases that remove
                <a href="https://en.wikipedia.org/wiki/Ubiquitin">ubiqutin</a> conjugates from proteins, thereby
                regulating protein turnover. However, the majority of substrates and pathways regulated by DUBs remain
                unknown, impeding efforts to prioritize specific proteins for research and drug-development.
            </p>
            <p>
                The DUB portal provides the integration and analysis of publicly available resources as well as
                newly collected transcriptomic data following DUB knockout or inhibition to facilitate the exploration
                of DUB function in oncology.
            </p>
            <p>
                Below, we provide the number of papers in PubMed for each DUB and the fraction of cell lines in the
                DepMap that are strongly dependent on each DUB (i.e., cancer cell proliferation is strongly impacted by
                DUB knockout). Additionally, we list the top seven co-dependent genes for each individual DUB (strongest
                correlations between DUBs and genes in the DepMap), the GO term most strongly enriched in the top seven
                co-dependent genes for each DUB and the corresponding p-values.
            </p>
        </div>
    </div>
    <table class="table table-striped table-hover" id="table-terms">
        <thead>
        <tr>
            <th>DUB</th>
            <th>DUB Name</th>
            <th>DUB Class</th>
            <th style="text-align: right">Dependent Cell Lines</th>
            <th>Top GSEA Result for Dependent Genes</th>
            <th style="text-align: right">GSEA <i>p</i>-value (adj.)</th>
            <th style="text-align: right">GSEA <i>q</i>-value</th>
            <th style="text-align: right"># Papers</th>
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr>
                <td>
                    <a data-toggle="tooltip" data-html="true"
                       title="HGNC:{{ row.hgnc_id }}<br>Click for more information in the DUB Portal."
                       href="{{ row.hgnc_symbol }}">
                        {{ row.hgnc_symbol }}
                    </a>
                </td>
                <td>
                    <a data-toggle="tooltip" data-html="true"
                       title="HGNC:{{ row.hgnc_id }}<br>Click for more information in the DUB Portal."
                       href="{{ row.hgnc_symbol }}">
                        {{ row.hgnc_name }}
                    </a>
                </td>
                <td>
                    {% if row.dub_class %}
                        <a data-toggle="tooltip" data-html="true"
                           title="FPLX:{{ row.dub_class }}<br>Click for external information from FamPlex."
                           href="https://bioregistry.io/fplx:{{ row.dub_class }}">
                            {{ row.dub_class }}
                        </a>
                    {% endif %}
                </td>
                <td style="text-align: right">{{ "%.1f"|format(row.fraction_cell_lines_dependent * 100) }}%</td>
                {% if row.go %}
                    <td>
                        <a data-toggle="tooltip" data-html="true"
                           title="{{ row.go[0].identifier }}<br>Click for external information from the Gene Ontology."
                           href="https://bioregistry.io/{{ row.go[0].identifier }}">
                            {{ row.go[0].name }}
                        </a>
                    </td>
                    <td style="text-align: right">{{ "%.2e" | format(row.go[0].p_adj) }}</td>
                    <td style="text-align: right">{{ "%.2e" | format(row.go[0].q) }}</td>
                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
                <td>{{ row.papers }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
